.checkout-conteiner form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkout-conteiner button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
}