body {
    background-color: #ebebeb;
}

.cart {
    /* border: 1px red solid; */
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 1rem;
}

svg {
    font-size: 40px;
    color: black;
}

.search {
    margin: 1rem;
}

h1 {
    background-color: yellow;
    font-size: 5rem;
    
}

select {
    border: dotted 1px;
}